<div id="footer_wrap" class="outer">
      <footer class="inner">
		<p><a href="http://esfcr.cz/" target="_blank"><img src="http://novamedia.ff.cuni.cz/system/files/oplzz_banner_en.png" alt="Project of Operational Programme Human Resources and Employment No. CZ.1.04/5.1.01/77.00440."></a>
		The project is funded from the European Social Fund through the Operational Programme Human Resources and Employment and the state budget of Czech Republic.</p>
		
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
</div>